@page "/Rooms/Bedroom"
@attribute [Authorize]
@inject IStringLocalizer<App> localizer

<PageTitle>@localizer["TABLEBRICKS"] - @localizer["BEDROOM"]</PageTitle>

    <h3>@localizer["BEDROOM"]</h3>

<img src="assets/img/rooms/bedroom.svg" alt="@localizer["BEDROOM"]" style="max-height: 900px;">