@page "/Rooms/Hallway"
@attribute [Authorize]
@inject IStringLocalizer<App> localizer

<PageTitle>@localizer["TABLEBRICKS"] - @localizer["HALLWAY"]</PageTitle>

    <h3>@localizer["HALLWAY"]</h3>

<img src="assets/img/rooms/hallway.svg" alt="@localizer["HALLWAY"]" style="max-height: 900px;">