@page "/Rooms/Kitchen"
@attribute [Authorize]
@inject IStringLocalizer<App> localizer

<PageTitle>@localizer["TABLEBRICKS"] - @localizer["KITCHEN"]</PageTitle>

    <h3>@localizer["KITCHEN"]</h3>

<img src="assets/img/rooms/kitchen.svg" alt="@localizer["KITCHEN"]" style="max-height: 900px;">