@page "/Rooms/StorageRoom"
@attribute [Authorize]
@inject IStringLocalizer<App> localizer

<PageTitle>@localizer["TABLEBRICKS"] - @localizer["STORAGE_ROOM"]</PageTitle>

    <h3>@localizer["STORAGE_ROOM"]</h3>

<img src="assets/img/rooms/storage_room.svg" alt="@localizer["STORAGE_ROOM"]" style="max-height: 900px;">